<h1> Alexander R. Daines </h1>
<img src="https://media.licdn.com/media/p/7/000/1d9/1ee/15b52f3.jpg" />
<h2> I work for a small company named Allergy 123. I head up all contracts, and am the project manager for our software application. </h2>
<p> I want to learn more about coding to help my business be sucessful</p>
<a href="https://www.linkedin.com/in/alex-daines-23437260"> Read More </a>