<h1> Alexander R. Daines </h1>
<img src="https://www.facebook.com/photo.php?fbid=10153630841484115&set=t.562527237&type=3&theater" />
<h2> I work for a small company named Allergy 123. I head up all contracts, and am the project manager for our software application </h2>