.profile {
   background: lightgray;
   padding: 10px;
   margin: 10px;
  text-align: center;
 }
.profile h1 {
   font-size: 16px;
   text-transform: uppercase;
 }
.profile img {
   width: 100px;
   height: 100px;
   border-radius: 50px;
 }
html {
  background: url('https://www.flickr.com/photos/joseph-dath/13149426525/in/photolist-aoBfDX-nS6msv-pAmyDH-oq9uaj-oC6Rr7-sn4Zje-omMHGq-pkW6ca-rkCNeF-5NU47f-fmHaqV-bAgH9G-qwMVcj-rDzfsv-r8Mu9z-6nXTLq-5GYN99-oGXnkG-p2H81Q-aum1mp-psh6cq-rxRUg8-nrufXV-mpywUh-jqE6Yf-rbUufH-bouviG-a4Nkjg-ipDC27-x2nzn1-pbK6x2-5jYZY2-nEL47m-pxjoMh-s1hrUx-qJPX68-nrVP9u-s4s4h1-et8LxN-9q2PeZ-9f4k7K-hLdoJ6-5Bcq4L-7j1HXN-nqwGBx-8e8Kbj-smcUTw-aqXEU6-m2Yfor-pXSsCx') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }